body {
    font-family: 'Roboto', sans-serif;
}

header, footer, h1 {
    text-align: center;
}

header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(201, 201, 201);
    padding: 20px 0;
    box-shadow: 6px 7px 17px -5px rgba(146, 146, 146, 0.7);
    
}

ul {
    width: 100%;
    float: left; 
    text-align: center; 
}

li {
    padding-right: 20px;
    display: inline-block;
    list-style: none;
}

li .menu {
    font-size: 1.2rem;
    text-decoration: none;
    color: #000;
    transition: .2s;
    border-bottom: .2rem solid transparent;
 }

 li .menu:hover {
    border-bottom: .2rem solid #3a3a3a;
 }

footer {
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0vh;
    left: 0;
    background:rgb(201, 201, 201);;
    padding: 20px 0;
}

.logo {
    margin-top: 1rem;
    margin-left: 50%;
    margin-right: 50%;
}

.login {
    width: 480px;
    text-align: center;
    margin: 0 auto;
    /* box-shadow: 4px 4px 8px 2px rgba(161, 161, 161, .6); */
    box-shadow: 10px 7px 17px -5px rgba(0, 0, 0, .73);
    border-radius: 1rem;
    padding: 1.2rem 0;
}

input {
    width: 70%;
    padding: .5rem;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: .5rem;
}

button {
    margin-top: .5rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    opacity: 1;
    transition: 0.3s;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    opacity: 0.5;
    background-color: rgb(12, 12, 12);
    color: rgb(219, 219, 219);
}

form {
    height: 100%;
    display: grid;
    place-items: center;
}
