/* --------------  ESCOPO GLOBAL ----------------  */
* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 2;
  box-sizing: border-box;
}

html {
  width: 1600px;
  margin: 0 auto;
}

/* --------------  HEADER + NAVBAR ----------------  */
header {
  background-color: rgba(33, 33, 65, 0.9);
}

.header {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo img {
  width: 150px;
}

.title {
  font-size: 2.9rem;
  color: white;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul {
  display: flex;
  list-style: none;
  padding: 1rem;
}

.menu ul li a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0 1.5rem;
  border-radius: 10px;
}

.menu a:hover {
  transition: all 0.4s ease-in-out;
  background-color: white;
  color: rgba(33, 33, 65, 0.9);
}

/* --------------  MAIN DA PAGINA ----------------  */
.container {
  display: flex;
  flex-direction: column;
}

.white-bg {
  background-color: white;
  color: rgba(33, 33, 65, 0.9);
  padding: 2rem 0;
}

.subtitle {
  font-size: 2rem;
  text-align: center;
  padding: 20px 0;
}

.blue-bg {
  background-color: rgba(33, 33, 65, 0.9);
  color: white;
  padding: 2rem 0;
}

.about {
  padding: 1rem 2rem;
}

.content {
  display: flex;
  flex-direction: row;
}

.content div img {
  margin-right: 2.5rem;
}

.text {
  margin-right: 2.5rem;
}

.text p {
  padding-bottom: 1rem;
}

.images {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.images div {
  overflow: hidden;
}

.images p {
  text-align: center;
}

.images img {
  width: 400px;
  height: 250px;
  transition: all 300ms ease-in-out;
}

.images img:hover {
  transform: scale(1.1);
  padding-bottom: 10px;
}

.experiencia {
  width: 1200px;
  margin: 0 auto;
}

.servicos {
  display: flex;
  align-items: center;
}

.academia {
  text-align: right;
}

/* --------------  FOOTER ----------------  */

.rodape {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 10px;
}

.rodape div {
  width: 30%;
  text-align: center;
}

.redes-sociais ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.redes-sociais ul li {
  list-style: none;
}

.redes-sociais img {
  width: 35px;
  border-radius: 20px;
}

.copyright {
  display: flex;
  justify-content: center;
}

.footer-subtitle {
  padding: 1rem 0 2rem;
}

.btn-contato {
  background-color: white;
  color: rgba(33, 33, 65, 0.9);
  border-radius: 10px;
  padding: 10px 20px;
  transition: 0.5s;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

.btn-contato a {
  text-decoration: none;
}

.btn-contato:hover {
  background-color: rgb(165, 161, 161);
}
