@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap%27");
* {
  font-family: "PT Sans Narrow", sans-serif;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

header {
  height: 65px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  margin: 0;
}

h1 {
  opacity: 0.9;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

h2 {
  font-size: 3rem;
}

p {
  opacity: 0.9;
  margin-bottom: 3px;
}

.footer__links ul, .footer__redes ul {
  list-style: none;
}

.image__top-wrapper__btn-primary, .image__top-wrapper__btn-outline-light, .footer__links ul li a, .footer__redes ul li a {
  text-decoration: none;
}

.footer__form h3, .footer__form__input, .footer__links h3, .footer__redes h3 {
  margin-bottom: 1rem;
}

.beneficios h2, .beneficios__div__card h3 {
  text-shadow: 1px 1px gray;
}

.container__menu__uppercase, .image__top-wrapper__uppercase {
  text-transform: uppercase;
}

.menu-hb {
  display: none;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}
.container__header {
  text-align: left;
  padding-left: 50px;
}
.container__header__logo {
  font-family: "Rock Salt", cursive;
  font-size: 60px;
  color: #ffffff;
  line-height: 1;
  font-weight: bold;
  padding-top: 40px;
}
.container__menu {
  padding-top: 10px;
  margin-top: -40px;
  float: right;
}
.container__menu a {
  text-decoration: none;
  float: left;
  line-height: 65px;
  padding: 0 30px;
  color: #ffffff;
  display: block;
}
.container__menu__btn {
  padding: 10px 30px;
  border-radius: 50px;
  margin-right: 0.5rem;
}
.container__menu__uppercase {
  font-size: 25px;
  letter-spacing: 0.2em;
}
.container__menu__btn-outline-light {
  color: #f8f9fa;
  background-color: transparent;
  border-color: #f8f9fa;
}
.container__menu__btn-outline-light:hover {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.image {
  background-image: url(../images/resort.jpg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.image__top-wrapper {
  padding: 180px 0 100px 0;
  color: #ffffff;
  text-align: center;
}
.image__top-wrapper__container {
  padding: 0 15px;
  margin: 0 auto;
}
.image__top-wrapper__heading h1 {
  font-family: "Cinzel", serif;
  margin-top: 100px;
}
.image__top-wrapper__content p {
  padding: 20px;
  font-size: 40px;
  font-family: "Courgette", cursive;
}
.image__top-wrapper__btn {
  padding: 10px 30px;
  border-radius: 50px;
  margin-right: 0.5rem;
}
.image__top-wrapper__uppercase {
  font-size: 25px;
  letter-spacing: 0.2em;
}
.image__top-wrapper__btn-primary {
  color: #ffffff;
  background-color: #e61c5d;
  border-color: #e61c5d;
}
.image__top-wrapper__btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(230, 28, 93, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(230, 28, 93, 0.5);
}
.image__top-wrapper__btn-primary:hover {
  color: #ffffff;
  background-color: #c6164e;
  border-color: #ba154a;
}
.image__top-wrapper__btn-outline-light {
  color: #f8f9fa;
  background-color: transparent;
  border-color: #f8f9fa;
}
.image__top-wrapper__btn-outline-light:hover {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.image__overlay::before {
  background-color: rgba(0, 0, 0, 0.45);
  content: "";
  position: absolute;
  height: 100vh;
  min-height: 720px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.oferta {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
}
.oferta__imagem {
  background-image: url(../images/promo.jpg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.oferta__display_bottom_left {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #212529;
  background-color: #f8f9fa;
  bottom: 35%;
  opacity: 0.7;
  width: 45%;
  transition: 0.2s;
  padding: 2rem 1.5rem;
  border-radius: 0 0.5rem 0.5rem 0;
}
.oferta__display_bottom_left h1 {
  font-weight: bold;
  font-size: 4rem;
}
.oferta__display_bottom_left:hover {
  background-color: #a0ecff;
}
.oferta__display_top_right {
  position: absolute;
  padding: 2rem 1.5rem;
  right: 0;
  top: 0;
  color: #212529;
  text-align: right;
  background-color: #f8f9fa;
  top: 10%;
  opacity: 0.7;
  width: 45%;
  transition: 0.2s;
  border-radius: 0.5rem 0 0 0.5rem;
}
.oferta__display_top_right h1 {
  font-weight: bold;
  font-size: 4rem;
}
.oferta__display_top_right:hover {
  background-color: #a0ecff;
}
.oferta__display_bottom_right {
  position: absolute;
  padding: 3rem 0;
  right: 0;
  bottom: 0;
  color: #212529;
  text-align: center;
  background-color: #f8f9fa;
  bottom: 10%;
  opacity: 0.7;
  width: 800px;
  transition: 0.2s;
  border-radius: 0.5rem 0 0 0.5rem;
}
.oferta__display_bottom_right:hover {
  opacity: 1;
}

.beneficios {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
}
.beneficios h2 {
  text-align: center;
  padding: 2rem 0 4rem 0;
  font-size: 3rem;
  font-family: "Cinzel", serif;
}
.beneficios__div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0;
  text-align: center;
}
.beneficios__div__card {
  width: 300px;
  border: 1px solid gray;
  padding: 10px;
  box-shadow: 2px 2px 2px gray;
}
.beneficios__div__card h3 {
  font-size: 1.5rem;
  margin: 1rem 0;
  font-family: "Courgette", cursive;
}
.beneficios__div__card p {
  font-size: 1.2rem;
  font-family: "Courgette", cursive;
}
.beneficios__div__card img {
  width: 280px;
  height: 300px;
  border-radius: 10px;
}

.secao3 {
  height: 100vh;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.secao3__cadastro {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.secao3__cadastro__input {
  padding: 0.5rem;
  line-height: 2rem;
  width: 50%;
  font-size: 1.5rem;
}
.secao3__cadastro__button {
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px gray;
  font-size: 2rem;
}
.secao3__contato {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}
.secao3__contato__input {
  padding: 0.5rem;
  line-height: 2rem;
  width: 50%;
  font-size: 1.5rem;
  width: 100%;
  margin: 0.5rem 0;
}
.secao3__contato__button {
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px gray;
  font-size: 2rem;
  margin: 0.5rem 0;
}

.footer {
  background-color: #e61c5d;
  color: #ffffff;
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding: 2rem;
  width: 100vw;
  bottom: 0;
}
.footer__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.footer__form h3 {
  font-family: "Courgette", cursive;
}
.footer__form__input label {
  font-family: "Courgette", cursive;
}
.footer__form__btn {
  padding: 5px 10px;
  cursor: pointer;
  font-family: "Courgette", cursive;
}
.footer__form__btn:hover {
  background-color: black;
  color: #ffffff;
}
.footer__links h3 {
  font-family: "Courgette", cursive;
}
.footer__links ul {
  display: flex;
  flex-flow: column;
  gap: 10px;
}
.footer__links ul li a {
  color: #ffffff;
  margin-bottom: 20px;
  padding: 5px;
  font-family: "Courgette", cursive;
}
.footer__links ul li a:hover {
  padding: 5px;
  background-color: #ffffff;
  color: #e61c5d;
  border-radius: 5px;
}
.footer__redes h3 {
  font-family: "Courgette", cursive;
}
.footer__redes ul li a {
  color: #ffffff;
  padding: 5px;
  font-family: "Courgette", cursive;
}
.footer__redes ul li a:hover {
  padding: 15px 5px 5px 5px;
  background-color: #ffffff;
  color: #e61c5d;
  border-radius: 5px;
}

@media (max-width: 414px) and (orientation: portrait) {
  .menu-hb {
    display: block;
    position: absolute;
    top: 2vw;
    right: 2vw;
  }
  .menu-hb img {
    width: 2rem;
  }
  .container__menu {
    display: none;
  }
  .container__header-left {
    margin-top: 100px;
    padding: 0;
    display: flex;
    text-align: center;
  }
  .image {
    height: 100vh;
  }
  .image__top-wrapper {
    padding-top: 300px;
    height: 100vh;
  }
  .image__top-wrapper__container p a:nth-child(2) {
    display: none;
  }
  .image__top-wrapper__container h1 {
    margin-bottom: 100px;
  }
  .image__top-wrapper__content {
    display: none;
  }
  .beneficios {
    height: 100%;
    padding-bottom: 2rem;
  }
  .beneficios__div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem 0;
  }
  .footer__form {
    display: none;
  }
  .secao3 {
    line-height: 2rem;
  }
  .secao3__cadastro, .secao3__contato {
    margin-top: -1rem;
  }
  .secao3__cadastro h2, .secao3__contato h2 {
    font-size: 2rem;
    padding: 0 1rem;
  }
  .secao3__cadastro__input, .secao3__contato__input {
    width: 90%;
  }
  .secao3__cadastro__button, .secao3__contato__button {
    font-size: 1.5rem;
  }
  .secao3__contato textarea {
    height: 10rem;
  }
}

/*# sourceMappingURL=style.css.map */
