@use "variaveis" as let;

@mixin flex-center {
  display: flex;
  justify-content: center;
}

$images: ("QuartoCasal.png", "SuítePresidencial.jpg", "1604663246841.jpg");

$i: 0;

@each $url in $images {
  $i: $i + 1;
  #imagem#{$i} {
    content: url("../images/#{$url}");

    width: 400px;
    height: 250px;
    opacity: 1;
    margin: 0 auto 20px auto;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }
}

/* --------------  RESPONSIVIDADE ----------------  */
@mixin media {
  @media (max-width: 1580px) and (orientation: landscape) {
    #imagem1,
    #imagem2,
    #imagem3 {
      width: 300px;
      height: 180px;
    }
  }

  /* TABLET LANDSCAPE */
  @media (max-width: 1194px) and (orientation: landscape) {
    p {
      font-size: 1rem;
      padding: 0 5px;
    }

    .container {
      width: 90vw;
      &__content {
        align-items: center;
        &__text {
          margin-top: 0px;
          padding: 0 10px;
        }
      }
      &__subtitle {
        font-size: 1.5rem;
      }
    }

    footer {
      & h3 {
        font-size: 1.2rem;
      }
    }

    .rodape {
      margin: 0 80px;
      padding-bottom: 10px;
    }
  }

  /* TABLET PORTRAIT */
  @media (max-width: 1024px) and (orientation: portrait) {
    p {
      font-size: 1rem;
    }

    .container {
      width: 90vw;
      &__content {
        &__text {
          margin-top: 0px;
        }
      }
      &__subtitle {
        font-size: 1.5rem;
      }
    }

    #imagem1,
    #imagem2,
    #imagem3 {
      width: 260px;
      height: 150px;
    }

    .quartos {
      height: 60vh;
    }

    footer {
      & h3 {
        font-size: 1.2rem;
      }
    }

    .rodape {
      margin: 0 60px;
      padding-bottom: 20px;

      &__links {
        gap: 20px;
      }
    }
  }

  /* MOBILE LANDSCAPE */
  @media (max-width: 915px) and (orientation: landscape) {
    .topo {
      &__menu-hb {
        display: block;
        position: absolute;
        top: 1vw;
        right: 1vw;

        & img {
          width: 2rem;
        }
      }
    }

    .nav_menu {
      display: none;
    }

    .container {
      width: 95vw;
      &__content {
        &__text {
          margin-top: 0px;
        }
      }
      &__subtitle {
        font-size: 2rem;
      }
    }

    .quartos {
      margin: 0;
      padding: 0 20px;
      height: 90vw;

      &__images {
        display: flex;
        flex-direction: column;
        margin-top: 80px;

        & div {
          display: flex;
          align-items: center;
          overflow: visible;
        }

        &__card {
          & div {
            justify-content: center;
          }

          &__info {
            flex-direction: column;
          }
        }
      }
    }

    footer {
      & h3 {
        font-size: 1.2rem;
      }
    }

    .rodape {
      margin: 0 40px;
      padding-bottom: 10px;

      &__links {
        gap: 20px;
      }
    }
  }

  /* MOBILE PORTRAIT */
  @media (max-width: 414px) and (orientation: portrait) {
    .topo {
      &__menu-hb {
        display: block;
        position: absolute;
        top: 1vw;
        right: 1vw;

        & img {
          width: 2rem;
        }
      }

      &__logo img {
        width: 3rem;
        justify-content: center;
      }

      &__logo-name {
        display: flex;
        & h1 {
          margin-top: 40px;
          font-size: 2rem;

          &::first-letter {
            font-size: 4rem;
          }
        }
      }
    }

    .nav_menu {
      display: none;
    }

    .container {
      width: let.$width;

      &__detalhe {
        width: 45%;
        margin-left: 27%;
      }

      &__content {
        flex-direction: column;
        &__text {
          padding: 20px;
          & p {
            text-align: center;
          }
        }
      }
    }

    .quartos {
      margin: 0;
      padding: 40px 0 1550px 0;
      height: let.$height;

      &__images {
        display: flex;
        flex-direction: column;
        margin-top: 450px;
      }
    }

    #imagem1,
    #imagem2,
    #imagem3 {
      width: 300px;
      height: 180px;
    }

    .experiencia {
      &__detalhe {
        width: 45%;
        margin-left: 27%;
      }

      &__content {
        flex-direction: column;

        & div img:nth-child(2) {
          display: flex;
          order: 1;
        }
        &__academia {
          display: flex;
          order: 2;
        }

        &__text {
          margin-top: 0;
          padding: 0 20px;
          & p {
            text-align: center;
          }
        }
      }
    }

    footer {
      font-size: 0.5rem;

      & h3 {
        font-size: 1.5rem;
      }
      & li {
        font-size: 1rem;
      }

      .rodape {
        margin: 0;
        display: flex;
        flex-direction: column;

        &__links {
          gap: 20px;

          &__sobre-nos {
            width: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;
          }

          &__navegacao,
          &__termos {
            display: none;
          }
        }

        &__seta {
          gap: 12rem;
          align-items: flex-end;
          margin-right: 2rem;
          margin-top: -14rem;

          &__idioma {
            font-size: 1rem;
          }

          &__top-btn img {
            width: 2rem;
          }
        }
      }
    }
  }
}
