@use "variaveis" as let;

@mixin flex-center {
  display: flex;
  justify-content: center;
}

$images: ("QuartoCasal.png", "SuítePresidencial.jpg", "1604663246841.jpg");

$i: 0;

@each $url in $images {
  $i: $i + 1;
  #imagem#{$i} {
    content: url("../images/#{$url}");

    width: 400px;
    height: 250px;
    opacity: 1;
    margin: 0 auto 20px auto;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }
}
