@use "variaveis" as let;
@use "mixins" as mix;
@use "extends";

.beneficios {
  width: let.$width;
  height: let.$height;
  background-color: burlywood; // PROVISÓRIO

  & h2 {
    text-align: center;
    padding: 2rem 0 4rem 0;
    font-size: 3rem;
    @extend %text-shadow;
  }

  &__div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0;
    text-align: center;

    &__card {
      width: 300px;

      & h3 {
        font-size: 1.5rem;
        margin: 1rem 0;
        @extend %text-shadow;
      }

      & p {
        font-size: 1.2rem;
      }
      & img {
        width: 300px;
        height: 300px;
        border-radius: 10px;
      }
    }
  }
}

.footer {
  background-color: lightblue; // PROVISÓRIO
  @include mix.flex-center;
  gap: let.$gap;
  padding: let.$m1;
  // position: absolute;
  width: let.$width;
  bottom: 0;

  &__form {
    @include mix.flex-center;
    flex-direction: column;

    & h3 {
      @extend %margin-bottom;
    }

    &__input {
      @extend %margin-bottom;
    }

    &__btn {
      padding: 5px 10px;
      cursor: pointer;

      &:hover {
        background-color: black;
        color: white;
      }
    }
  }

  &__links {
    & h3 {
      @extend %margin-bottom;
    }
    & ul {
      @extend %list-none;
      display: flex;
      flex-flow: column;
      gap: 10px;

      & li a {
        @extend %decoration-none;
        color: let.$textColor;
        margin-bottom: 20px;
        padding: 5px;

        &:hover {
          padding: 5px;
          background-color: white;
          color: lightblue;
          border-radius: 5px;
        }
      }
    }
  }

  &__redes {
    & h3 {
      @extend %margin-bottom;
    }
    & ul {
      @extend %list-none;

      & li a {
        @extend %decoration-none;
        color: let.$textColor;
        padding: 5px;

        &:hover {
          padding: 15px 5px 5px 5px;
          background-color: white;
          color: lightblue;
          border-radius: 5px;
        }
      }
    }
  }
}

// testando responsividade footer
@include mix.media-footer;
