img {
    width: 300px;
}

h1 {
    text-align: center;
    padding: 2rem;
}

.container { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 0;
}

.destaque {
    display: flex;
    justify-content: space-between;
    margin-right: 2.1rem;
    padding: 2rem;
    gap: 2rem;
}

.img_destaque {
    width: 300px;
    height: 400px;
}

h2 {
    text-align: center;
    padding-bottom: 2rem;
}