/* --------------  ESCOPO GLOBAL ----------------  */
@import url("https://fonts.googleapis.com/css2?family=Della+Respira&family=Forum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Forum&family=Italiana&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Italiana", serif;
  box-sizing: border-box;
  line-height: 2;
}

p {
  font-family: "Della Respira", serif;
  font-size: 1.3rem;
}

:root {
  --title: rgba(33, 33, 65, 0.9);
  --background: #f1eab9;
  --text: #000;
  --sombra: #18215992;
  --azul-claro: #949fab;
  --white: #fff;
  --branco-escuro: rgb(233, 223, 223);
}

/* --------------  HEADER  ----------------  */
header {
  background-color: var(--background);
}
.logo_name h1::first-letter {
  font-size: 6rem;
  font-weight: bold;
}

.logo {
  display: flex;
}

.logo img {
  width: 5rem;
  justify-content: center;
}

.topo {
  width: 100vw;
  display: flex;
  height: 13rem;
  justify-content: center;
  gap: 3rem;
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: 4rem;
  text-shadow: 2px 2px 4px var(--text);
}

.main {
    position: relative;
    /* background: url("/assets/images/fundocontato.webp"); */
    background-size: cover;
    padding-bottom: 1rem;
    /* height: 1215px; */
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    text-shadow: 2px 2px 4px var(--background);
    padding-top: 2rem;
}

/* --------------  NAVBAR ----------------  */

.menu_mobile {
    display: none;
}

.nav_menu {
    z-index: 1;
    width: 100vw;
    height: 4rem;
    background-color: var(--branco-escuro);
    max-width:100%;
    position: sticky;
    top: 0;
}
  
.nav_menu ul {
    display: flex;
    list-style: none;
    padding: 1rem;
    justify-content: center;
}
  
.nav_menu ul li a {
    display: block;
    color: var(--text);
    text-decoration: none;
    font-size: 1.4rem;
    padding: 0 1.5rem;
    border-radius: 0.2rem;
    font-weight: 700;
}
  
.nav_menu a:hover {
    background-color: var(--sombra);
    color: var(--white);
    border-radius: 5px;
}

.nav_menu ul {
    width: 100%;
    float: left; 
    text-align: center;
}

.nav_menu li {
    padding-right: 3rem;
    display: inline-block;
    list-style: none;
}

.nav_menu li .menu {
    font-size: 1.2rem;
    text-decoration: none;
    color: #000;
    transition: .2s;
    border-bottom: .2rem solid transparent;
}

.nav_menu li .menu:hover {
    border-bottom: .2rem solid #3a3a3a;
}

.logo {
    margin-top: 1rem;
    text-align: center;
}

.login {
    width: 600px;
    text-align: center;
    margin: 1rem auto 3rem auto;
    box-shadow: 4px 4px 8px 2px rgba(161, 161, 161, .6);
    /* box-shadow: 10px 7px 17px -5px rgba(0, 0, 0, .73); */
    border-radius: .3rem;
    padding: 2rem 0;
    background-color: var(--white);
}

.esqueceu_senha {
    width: 70%;
    text-align: right;
    margin: 1rem auto;
    font-size: small;
    text-decoration: none;
}

label {
    width: 70%;
    text-align: left;
    margin-top: 1.2rem;
    font-weight: 600;
}

input, select, textarea {
    width: 70%;
    padding: 1rem;
    margin: .8rem 0;
    border-radius: .3rem;
    border: 1px solid #ccc;
}

button {
    margin-top: .5rem;
    padding: .7rem 1.5rem;
    border-radius: .3rem;
    border: none;
    font-weight: 700;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    opacity: 1;
    transition: 0.3s;
}

button:hover {
    opacity: 0.5;
    background-color: rgb(12, 12, 12);
}

form {
    height: 100%;
    display: grid;
    place-items: center;
}

main {
    margin: 0rem 0;
}

/* --------------  FOOTER ----------------  */
footer {
    padding-top: 2rem;
    background-color: var(--background);
  }
  
  footer h3 {
    font-size: 1.5rem;
  }
  
  .rodape {
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
  }
  
  .links {
    display: flex;
    gap: 50px;
  }
  
  .seta {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    gap: 8rem;
  }
  
  .seta > div {
    display: flex;
  }
  
  .seta select {
    font-weight: bold;
  }
  
  .termos ul li,
  .sobre-nos ul li,
  .navegacao ul li {
    list-style: none;
  }
  
  .termos ul li a,
  .sobre-nos ul li a,
  .navegacao ul li a {
    padding: 5px;
    text-decoration: none;
    color: var(--title);
    font-weight: bold;
  }
  
  .termos ul li a:hover,
  .sobre-nos ul li a:hover,
  .navegacao ul li a:hover {
    padding: 5px;
    background-color: var(--sombra);
    color: white;
    border-radius: 5px;
  }
  
  #redes-sociais a:hover {
    padding: 5px;
    background-color: var(--background);
    color: white;
    border-radius: 0;
  }
  
  #redes-sociais img {
    width: 35px;
    border-radius: 20px;
  }
  
  .top-btn img {
    width: 35px;
  }

/* MOBILE PORTRAIT */
@media (max-width: 414px) and (orientation: portrait) {
    h1 {
        text-align: center;
        margin-bottom: -1rem;
    }

    .login {
        left: 0;
        width: auto;
        box-shadow: none;
    }
    
    input {
        padding: .5rem;
        margin: .3rem 0;
    }

    .esqueceu_senha {
        text-align: center;
    }

    nav {
        display: none;
    }

    .menu_mobile{
        display: block;
        /* position: absolute; */
        background-color: #949fab;
        width: 100vw;
    }

    .menu_mobile img {
        position: absolute;
        top: 1rem;
        left: 1rem;
        width: 2rem;
        cursor: pointer;
    }

    .topo {
        height: 2rem;
    }

    .logo {
        display: none;
    }

    .logo_name {
        top: 1rem;
    }

    .logo_name h1 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .main {
        background: none;
    }

    footer {
        font-size: 0.5rem;
      }
    
      footer h3 {
        font-size: 1.5rem;
      }
    
      footer li {
        font-size: 1rem;
      }
    
      .links {
        gap: 20px;
      }
    
      .seta {
        gap: 12rem;
        align-items: flex-end;
        margin-right: 2rem;
        margin-top: -14rem;
      }
    
      .idioma {
        font-size: 1rem;
      }
    
      .rodape {
        margin: 0;
        display: flex;
        flex-direction: column;
      }
    
      .top-btn img {
        width: 2rem;
      }
    
      .navegacao,
      .termos {
        display: none;
      }
    
      .sobre-nos {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
      }
}
