/* --------------  ESCOPO GLOBAL ----------------  */
@import url("https://fonts.googleapis.com/css2?family=Della+Respira&family=Forum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Forum&family=Italiana&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Italiana", serif;
  box-sizing: border-box;
  line-height: 2;
}

p {
  font-family: "Della Respira", serif;
  font-size: 1.3rem;
}

:root {
  --title: rgba(33, 33, 65, 0.9);
  --background: #f1eab9;
  --text: #000;
  --sombra: #18215992;
  --azul-claro: #949fab;
  --white: #fff;
  --branco-escuro: rgb(233, 223, 223);
}

/* --------------  HEADER  ----------------  */

.background {
  position: relative;
  display: flex;
  top: 0;
  width: 100vw;
  align-items: center;
}

.slogan {
  position: absolute;
  display: flex;
  top: 37%;
  justify-content: center;
  height: 100px;
}

.slogan p {
  color: white;
  font-weight: bold;
  font-size: 2.5rem;
  text-shadow: 2px 2px 5px rgb(80, 80, 80);
}

.logo_name h1::first-letter {
  font-size: 6rem;
  font-weight: bold;
}

.logo {
  display: flex;
}

.logo img {
  width: 5rem;
  justify-content: center;
  position: absolute;
}

.topo {
  width: 100vw;
  display: flex;
  height: 27rem;
  justify-content: center;
  gap: 3rem;
}

.painel-usuario {
  background-color: #f5f5f5;
  position: absolute;
  display: grid;
  justify-content: center;
  align-items: center;
  right: 1.5rem;
  top: 1.5rem;
  height: auto;
  padding: 1rem;
  border-radius: .3rem;
  box-shadow: 2px 2px 5px #999;
  opacity: .8;
}

.painel-sair {
  display: flex;
  justify-content: center;
}

.painel-sair button {
  margin-top: .5rem;
  width: 100%;
  font-weight: bold;
}

.background{
  position: absolute;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  filter: opacity(56%);
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: 4rem;
  text-shadow: 2px 2px 4px var(--text);
}

/* --------------  NAVBAR ----------------  */
.nav_menu {
  z-index: 1;
  width: 100vw;
  background-color: var(--branco-escuro);
  position: sticky;
  top: 0;
}

nav:hover {
  opacity: 0.9;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  padding: 0.5rem;
}

nav ul li a {
  display: block;
  color: var(--text);
  text-decoration: none;
  font-size: 1.4rem;
  padding: 0 1.5rem;
  border-radius: 0.2rem;
  font-weight: 700;
}

nav a:hover {
  background-color: var(--sombra);
  color: var(--white);
  border-radius: 5px;
}

.menu-hb {
  display: none;
}

/* --------------  MAIN  ----------------  */
main{
  background-color: white;
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80vw;
}

.detalhe {
  display: block;
  width: 15%;
  height: 0.4vh;
  margin-left: 42.5%;
  margin-top: -1.5%;
  background-color: var(--background);
}

.detalhev2 {
  display: block;
  width: 40%;
  height: 0.4vh;
  margin-left: 30%;
  margin-top: -1.5%;
  margin-bottom: 2rem;
  background-color: var(--white);
}

.white-bg {
  background-color: var(--white);
  color: var(--text);
  margin: 40px 0;
}

.subtitle {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  padding: 20px 0;
}

.yellow-bg {
  background-color: var(--background);
  color: var(--text);
  padding: 2rem 0;
  margin-top: 40px;
}

.content {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.content div {
  text-align: center;
  width: 100%;
}

.content div img {
  width: 90%;
}

.foto-hotel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  margin-top: 70px;
}

.text p {
  text-align: left;
  padding-bottom: 1rem;
}

.images {
  height: 70vh;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.images.card div {
  width: 30%;
  overflow: hidden;
  text-align: center;
}

.info p {
  text-align: center;
  padding: 0 3rem 3rem 3rem;
}

.card {
  text-align: center;
}

.images img {
  width: 400px;
  height: 250px;
  opacity: 1;
  transition: all 0.6s;
}

.images img:hover {
  opacity: 0.4;
}

.servicos {
  display: flex;
  align-items: center;
}

.academia p {
  text-align: right;
}

/* --------------  FOOTER ----------------  */
footer {
  padding-top: 2rem;
  background-color: var(--background);
}

footer h3 {
  font-size: 1.5rem;
}

.rodape {
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}

.links {
  display: flex;
  gap: 50px;
}

.seta {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  justify-content: center;
  gap: 8rem;
}

.seta > div {
  display: flex;
}

.seta select {
  font-weight: bold;
}

.termos ul li,
.sobre-nos ul li,
.navegacao ul li {
  list-style: none;
}

.termos ul li a,
.sobre-nos ul li a,
.navegacao ul li a {
  padding: 5px;
  text-decoration: none;
  color: var(--title);
  font-weight: bold;
}

.termos ul li a:hover,
.sobre-nos ul li a:hover,
.navegacao ul li a:hover {
  padding: 5px;
  background-color: var(--sombra);
  color: white;
  border-radius: 5px;
}

#redes-sociais a:hover {
  padding: 5px;
  background-color: var(--background);
  color: white;
  border-radius: 0;
}

#redes-sociais img {
  width: 35px;
  border-radius: 20px;
}

.top-btn img {
  width: 35px;
}

/* --------------  RESPONSIVIDADE ----------------  */
@media (max-width: 1580px) and (orientation: landscape) {
  .card img {
    width: 300px;
    height: 180px;
  }
  
}

/* TABLET LANDSCAPE */
@media (max-width: 1194px) and (orientation: landscape) {
  p {
    font-size: 1rem;
    padding: 0 5px;
  }

  .container {
    width: 90vw;
  }

  .text {
    margin-top: 0px;
    padding: 0 10px;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .content {
    align-items: center;
  }

  footer h3 {
    font-size: 1.2rem;
  }

  .rodape {
    margin: 0 80px;
    padding-bottom: 10px;
  }
}
@media (min-width: 1024px){
  h1{
    text-align: center;
    font-weight: 700;
    font-size: 4rem;
    text-shadow: 2px 2px 4px var(--text);
    margin-top: 15.5vh;
    margin-left: -22vw;
    margin-right: 2vw;
    position: absolute;  
    width: 45vw;
  }
  .logo{
    z-index: +1;
  margin-top: 23vh;
  margin-left: -35vw;
  position: absolute;
  }
  }

/* TABLET PORTRAIT */
@media (max-width: 1024px) and (orientation: portrait) {
  *{
    margin: 0%;
    padding: 0%;
  }
  .logo{
    margin-left: -2vw;
    margin-top: 20vh;
  }
  h1{
    margin-top: 15vh;
    margin-left: 8vw;
  }
 
  p {
    font-size: 1rem;
  }

  .text {
    margin-top: 0px;
  }

  .container {
    width: 90vw;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .content {
    align-items: center;
  }

  .yellow-bg {
    height: 60vh;
  }

  .card img {
    width: 260px;
    height: 150px;
  }

  footer h3 {
    font-size: 1.2rem;
  }

  .links {
    gap: 20px;
  }

  .rodape {
    margin: 0 60px;
    padding-bottom: 20px;
  }
}

/* MOBILE LANDSCAPE */
@media (max-width: 915px) and (orientation: landscape) {
  .menu-hb {
    display: block;
    position: absolute;
    top: 1vw;
    right: 1vw;
  }

  .menu-hb img {
    width: 2rem;
  }

  .nav_menu {
    display: none;
  }

  .text {
    margin-top: 0px;
  }

  .container {
    width: 95vw;
  }

  .yellow-bg {
    margin: 0;
    padding: 0 20px;
    height: 85vw;
  }

  .images {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    padding-top: 230px;
  }

  .images div {
    display: flex;
    align-items: center;
  }

  .card div {
    justify-content: center;
  }

  .images h3,
  p {
    text-align: center;
  }

  .card img {
    width: 300px;
    height: 180px;
  }

  .info {
    flex-direction: column;
  }

  footer h3 {
    font-size: 1.2rem;
  }

  .links {
    gap: 20px;
  }

  .rodape {
    margin: 0 40px;
    padding-bottom: 10px;
  }
}

/* MOBILE PORTRAIT */
@media (max-width: 414px) and (orientation: portrait) {
  .menu-hb {
    display: block;
    position: absolute;
    top: 1vw;
    right: 1vw;
  }
  .logo{
    margin-left: -2vw;
    margin-top: 26vh;
  }
  h1{
    margin-top: -12vh;
    margin-left: 8vw;
  }

  .menu-hb img {
    width: 2rem;
  }

  .nav_menu {
    display: none;
  }

  .logo_name {
    display: flex;
  }

  .logo_name h1 {
    display: flex;
    align-items: center;
    font-size: 2rem;
  }

  .logo_name h1::first-letter {
    font-size: 4rem;
  }

  .logo img {
    width: 3rem;
    justify-content: center;
  }

  .content {
    flex-direction: column;
  }

  .text {
    padding: 20px;
  }

  .text p {
    text-align: center;
  }

  .container {
    width: 100vw;
  }

  .yellow-bg {
    margin: 0;
    padding: 0 0 1500px 0;
    height: 100vh;
    padding-top: 40px;
  }

  .images {
    display: flex;
    flex-direction: column;
  }

  .images {
    margin-top: 430px;
  }

  .card img {
    width: 300px;
    height: 180px;
  }

  .academia {
    display: flex;
    order: 2;
  }

  .content div img:nth-child(2) {
    display: flex;
    order: 1;
  }

  footer {
    font-size: 0.5rem;
  }

  footer h3 {
    font-size: 1.5rem;
  }

  footer li {
    font-size: 1rem;
  }

  .links {
    gap: 20px;
  }

  .seta {
    gap: 12rem;
    align-items: flex-end;
    margin-right: 2rem;
    margin-top: -14rem;
  }

  .idioma {
    font-size: 1rem;
  }

  .rodape {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .top-btn img {
    width: 2rem;
  }

  .navegacao,
  .termos {
    display: none;
  }

  .sobre-nos {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .acomodacoes{
    position: absolute;
    margin-top: -5vh;
  }
  
}