form {
  display: flex;
  margin: 10px 0 30px 0;
  gap: 40px;
}

h2 {
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-size: 2rem;
  text-align: left;
}

input,
label {
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: 5px;
}

.detalhev3 {
  display: block;
  width: 30%;
  height: 0.4vh;
  margin-bottom: 2rem;
  background-color: var(--text);
}

.images {
  display: flex;
  flex-direction: column;
  margin: 200px 0;
}

.images div {
  display: flex;
  margin-bottom: 10px;
}

.card {
  width: 60vw;
}

.card:hover {
  border: 2px solid green;
}

.info {
  flex-direction: column;
  padding: 0 0 0 30px;
}

.info p {
  padding: 0 0 10px 0;
  text-align: left;
}

.info p:nth-child(3) {
  font-weight: bold;
}

.white-bg {
  margin: 40px 0 0 0;
}

.escolha {
  position: absolute;
  top: 30rem;
  right: -7rem;
  background-color: var(--background);
  width: 20vw;
  height: 52vh;
  padding: 40px 20px;
}

.escolha h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
}

.resumo {
  border: 1px solid black;
  background-color: var(--branco-escuro);
  width: 18vw;
  padding: 10px;
}

.resumo span {
  font-weight: bold;
}

.link a,
.btn button {
  display: flex;
  justify-content: center;
}

.link a {
  text-decoration: none;
}

.link a span,
.btn button {
  color: var(--title);
  font-weight: bold;
  padding: 5px 20px;
}

.link a span:hover,
.btn button:hover {
  background-color: var(--sombra);
  color: white;
  border-radius: 5px;
}

.link {
  margin-top: 20px;
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn button {
  cursor: pointer;
  text-transform: uppercase;
}

/* --------------  MODAL ----------------  */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: .3rem;
  width: 40%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* --------------  RESPONSIVIDADE ----------------  */
@media (max-width: 1580px) and (orientation: landscape) {
  .escolha {
    right: -7rem;
    width: 25vw;
  }

  .resumo {
    width: 22vw;
  }

  .form {
    gap: 20px;
  }
}

/* TABLET LANDSCAPE */
@media (max-width: 1194px) and (orientation: landscape) {
  .escolha {
    right: 2rem;
    width: 25vw;
    height: 43vh;
  }

  .resumo {
    width: 20vw;
  }

  .link a {
    padding: 0;
  }

  .form {
    gap: 15px;
  }
}

/* TABLET PORTRAIT */
@media (max-width: 1024px) and (orientation: portrait) {
  .escolha {
    right: -2rem;
    width: 30vw;
    height: 40vh;
  }

  .resumo {
    width: 26vw;
  }

  .form {
    gap: 5px;
  }
}

/* MOBILE LANDSCAPE */
@media (max-width: 915px) and (orientation: landscape) {
  form {
    margin: 0;
  }

  form div {
    margin-bottom: 10px;
  }

  p {
    text-align: left;
  }

  .form {
    gap: 0px;
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 95vw;
  }

  .images {
    margin-top: 550px;
  }

  .card div,
  .info h3 {
    text-align: center;
    justify-content: center;
  }

  .card img {
    width: 300px;
    height: 180px;
  }

  .escolha {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
    height: 100vh;
    margin: 350px auto 50px auto;
  }

  .resumo {
    width: 35vw;
  }
}

/* MOBILE PORTRAIT */
@media (max-width: 414px) and (orientation: portrait) {
  form {
    display: block;
    margin: 0;
  }

  form div {
    margin-bottom: 10px;
  }

  .container {
    padding: 0 10px;
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 95vw;
  }

  .images {
    margin-top: 530px;
  }

  .card div,
  .info h3 {
    text-align: center;
    justify-content: center;
  }

  .card img {
    width: 300px;
    height: 180px;
  }

  .escolha {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90vw;
    height: 50vh;
    margin: 300px auto 50px auto;
  }

  .resumo {
    width: 80vw;
  }

  .links h3 {
    text-align: center;
  }
}
