/* --------------  ESCOPO GLOBAL ----------------  */
@import url("https://fonts.googleapis.com/css2?family=Della+Respira&family=Forum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Forum&family=Italiana&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Italiana", serif;
  box-sizing: border-box;
}

p {
  font-family: "Della Respira", serif;
  font-size: 1.3rem;
  line-height: 2;
}

video {
  position: absolute;
  top: 0;
  z-index: -1;
}

:root {
  --title: rgba(33, 33, 65, 0.9);
  --background: #f1eab9;
  --text: #000;
  --sombra: #18215992;
  --azul-claro: #949fab;
  --white: #fff;
  --branco-escuro: rgb(233, 223, 223);
}

/* --------------  HEADER  ----------------  */
header {
  position: absolute;
  top: 10rem;
  left: 10rem;
  display: flex;
  align-items: center;
}

.logo_name {
  font-size: 2.5rem;
  font-weight: 700;
  text-shadow: 2px 2px 4px var(--background);
}

.logo_name h1::first-letter {
  font-size: 10rem;
  font-weight: bold;
}

.logo img {
  margin-right: 3rem;
  width: 150px;
}

/* --------------  NAVBAR ----------------  */
nav {
  z-index: 1;
  position: absolute;
  width: 100vw;
  height: 4rem;
  margin-top: 28rem;
  background-color: var(--branco-escuro);
  opacity: 0.4;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  margin-bottom: 35rem;
}

nav:hover {
  opacity: 0.9;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 1rem;
}

nav ul li a {
  display: block;
  color: var(--text);
  text-decoration: none;
  font-size: 1.4rem;
  padding: 0 1.5rem;
  border-radius: 0.2rem;
  font-weight: 700;
}

nav a:hover {
  background-color: var(--sombra);
  color: var(--white);
  border-radius: 5px;
}

/* --------------  MAIN  ----------------  */
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80vw;
}

.detalhe {
  display: block;
  width: 15%;
  height: 0.4vh;
  margin-left: 42.5%;
  margin-top: -1.5%;
  background-color: var(--background);
}

.detalhev2 {
  display: block;
  width: 40%;
  height: 0.4vh;
  margin-left: 30%;
  margin-top: -1.5%;
  margin-bottom: 2rem;
  background-color: var(--white);
}

.white-bg {
  background-color: var(--white);
  color: var(--text);
  padding: 2rem 0;
  margin-top: 40px;
}

.subtitle {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  padding: 20px 0;
}

.yellow-bg {
  background-color: var(--background);
  color: var(--text);
  padding: 2rem 0;
  margin-top: 40px;
}

.content {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.content div {
  text-align: center;
  width: 100%;
}

.content div img {
  width: 90%;
}

.text {
  margin-top: 70px;
}

.text p {
  text-align: left;
  padding-bottom: 1rem;
}

.images {
  height: 70vh;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.images div {
  width: 30%;
  overflow: hidden;
  text-align: center;
}

.images p {
  text-align: center;
}

.images img {
  width: 400px;
  height: 250px;
  transition: all 300ms ease-in-out;
}

.images img:hover {
  transform: scale(1.1);
  padding-bottom: 10px;
}

.servicos {
  display: flex;
  align-items: center;
}

.academia p {
  text-align: right;
}

/* --------------  FOOTER ----------------  */
footer {
  padding-top: 2rem;
  background-color: var(--background);
}

footer h3 {
  font-size: 1.5rem;
}

.rodape {
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}

.links {
  display: flex;
  gap: 50px;
}

.seta {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.seta > div {
  display: flex;
}

.idioma {
  margin-top: 120px;
  margin-bottom: 20px;
}

.seta select {
  font-weight: bold;
}

.termos ul li,
.sobre-nos ul li,
.navegacao ul li {
  list-style: none;
}

.termos ul li a,
.sobre-nos ul li a,
.navegacao ul li a {
  padding: 5px;
  text-decoration: none;
  color: var(--title);
  font-weight: bold;
}

.termos ul li a:hover,
.sobre-nos ul li a:hover,
.navegacao ul li a:hover {
  padding: 5px;
  background-color: var(--sombra);
  color: white;
  border-radius: 5px;
}

#redes-sociais a:hover {
  padding: 5px;
  background-color: var(--background);
  color: white;
  border-radius: 0;
}

#redes-sociais img {
  width: 35px;
  border-radius: 20px;
}

.top-btn img {
  width: 35px;
}

/* --------------  RESPONSIVIDADE ----------------  */

/* TABLET LANDSCAPE */
@media (max-width: 1194px) and (orientation: landscape) {
  nav {
    margin-bottom: 8rem;
  }

  p {
    font-size: 1rem;
  }

  .text {
    margin-top: 0px;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .content {
    align-items: center;
  }

  footer h3 {
    font-size: 1rem;
  }

  .idioma {
    margin-top: 60px;
  }
}

/* TABLET PORTRAIT */
@media (max-width: 1024px) and (orientation: portrait) {
  header {
    top: 8rem;
    left: 8rem;
    display: block;
    line-height: 1.5rem;
  }

  .logo_name {
    font-size: 2rem;
  }

  .logo_name h1::first-letter {
    font-size: 8rem;
  }

  .logo img {
    margin-top: 0;
    margin-left: 8rem;
    width: 100px;
  }

  nav {
    margin-bottom: 2rem;
  }

  p {
    font-size: 1rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .content {
    align-items: center;
  }

  .images {
    height: 50vh;
  }

  footer h3 {
    font-size: 1rem;
  }

  .links {
    gap: 20px;
  }

  .idioma {
    margin-top: 60px;
  }
}

/* MOBILE LANDSCAPE */
@media (max-width: 915px) and (orientation: landscape) {
  header {
    top: 8rem;
    left: 3rem;
    display: block;
    line-height: 1.5rem;
  }

  .logo_name {
    font-size: 2rem;
  }

  .logo_name h1::first-letter {
    font-size: 8rem;
  }

  .logo img {
    margin-top: 0;
    margin-left: 8rem;
    width: 100px;
  }

  nav {
    margin-bottom: 2rem;
  }

  .yellow-bg {
    padding: 0 20px;
  }

  .images {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .images div {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 20px;
  }

  .images h3,
  p {
    text-align: center;
  }

  .images img {
    width: 200px;
    height: 150px;
  }

  nav {
    margin-bottom: 0rem;
  }

  p {
    font-size: 1rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .content {
    align-items: center;
  }

  .images {
    height: 92vh;
  }

  footer h3 {
    font-size: 1rem;
  }

  .links {
    gap: 20px;
  }

  .idioma {
    margin-top: 60px;
  }

  .rodape {
    margin: 0 100px;
  }
}

/* MOBILE PORTRAIT */
@media (max-width: 414px) and (orientation: portrait) {
  html {
    background-color: red;
  }
  header {
    top: 5rem;
    left: 0.5rem;
  }

  .logo_name {
    font-size: 1.5rem;
  }

  .logo_name h1::first-letter {
    font-size: 7rem;
  }

  .logo img {
    margin-top: 0;
    margin-left: 8rem;
    width: 50px;
  }
  .yellow-bg {
    padding: 0 20px;
  }

  .images {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .images div {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 20px;
  }

  .images h3,
  p {
    text-align: center;
  }

  .images img {
    width: 200px;
    height: 150px;
  }

  /* FZER MENU HAMBURGUER */
  nav {
    position: absolute;
    width: 100vw;
    height: 4rem;
    margin-top: 14.5rem;
    background-color: var(--branco-escuro);
    opacity: 0.4;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    margin-bottom: 0rem;
  }

  nav ul li a {
    display: block;
    font-size: 1rem;
    padding: 0.2rem;
    border-radius: 0.2rem;
    font-weight: 700;
  }
  /* FZER MENU HAMBURGUER */

  p {
    font-size: 0.8rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .content {
    align-items: center;
  }

  .images {
    height: 92vh;
  }

  footer {
    font-size: 0.5rem;
  }

  footer h3 {
    font-size: 0.8rem;
  }

  .links {
    gap: 20px;
  }

  .idioma {
    margin-top: 60px;
  }

  .rodape {
    margin: 0 10px;
  }
}
