* {
  margin: 0;
  padding: 0;
  font-family: 'Forum', cursive;
}

video {
  position: absolute;
  top: 0;
  z-index: -1;
}


.logo_name {
  position: absolute;
  top: 14rem;
  left: 10rem;
  font-size: 5rem;
  font-weight: 700;
  text-shadow: 2px 2px 4px #949FAB;

  /* left: 50%;
  top: 10%;
  margin-left: -50px;
  width: 100px; */
}

.logo_name::first-letter {
  font-size: 10rem;
  font-weight: bold;
}

/* .btn-topo {
  background-color: #182159;
} */

.btn-topo button {
  font-size: 1vw;
  width: 7vw;
  height: 4vh;
  margin-right: 0.5vw;
  border-radius: .2rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.651);
  color: #43494e;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 2px 2px 4px #949FAB;
}

.banner button:hover {
  background-color: #38428292;
  color: white;
}

.btn-topo {
  position: absolute;
  display: flex;
  top: 0;
  margin: 1rem 0 0 82vw;
}

/* .menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul {
  display: flex;
  list-style: none;
  padding: 1rem;
}

.menu ul li a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0 1.5rem;
  border-radius: .2rem;
} */

nav {
  position: absolute;
  width: 100vw;
  height: 4rem;
  margin-top: 28rem;
  background-color: #cad8eb;
  opacity: .4;
  display: flex;
  justify-content: center;

  position: sticky;
  top: 0;
}

nav:hover {
  opacity: .9;
}

nav ul {
  display: flex;
  /* flex-direction: row; */
  list-style: none;
  /* width: 60vw; */
  /* margin-left: 25vw; */
  padding: 1rem;
  /* opacity: 1; */
}

section {
  margin-top: 10rem;
  width: 50%;
  text-align: center;
  /* justify-content: center; */
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  font-size: 3rem;
}

/* nav li {
  list-style: none;
  margin-left: -70px;
}


nav a {
  width: 1vh;
  color: #43494e;
  text-decoration: none;
  font-size: 90%;
  text-transform: uppercase;
  margin-left: 25%;
  padding: 2% 5%;
  cursor: pointer;
  font-size: 1.1vw;
} */

nav ul li a {
  display: block;
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0 1.5rem;
  border-radius: .2rem;
  font-weight: 700;
  /* opacity: 1; */
}

nav a:hover {
  background-color: #18215992;
  color: white;
  border-radius: 5px;
}
.cadastre-se-btn {
  height: 4vh;
  width: 10vw;
  background-color: rgba(255, 255, 255, 0.651);
  color: #43494e;
  cursor: pointer;
  box-shadow: 2px 2px 4px #949FAB;
  border-radius: 1vw;
  border: none;
  margin-left: 24%;
  text-transform: uppercase;
  margin-top: -.4rem;
}
.cadastre-se-btn:hover {
  background-color: #18215992;
  color: white;
}

/* .btn-usuario {
  position: absolute;
  margin-left: -8vw;
  margin-top: 0.5vh;
  width: 10vw;
} */

/* .opacidade {
  background-image: url(/assets/images/quarto-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 11%;
  width: 100vw;
  height: 50vh;
  z-index: +1;
}

.banner {
  position: absolute;
  border-radius: 5%;
  margin-top: -18%;
  margin-left: 34vw;
  width: 30vw;
  height: 20vh;
  z-index: +1;
}

.logo {
 margin-left: 25%;
} */

h1 {
  font-family: "Forum", cursive;
  text-transform: uppercase;
  font-size: 4vw;
  margin-left: 3.5vw;
  margin-top: 1.5vw;
  color: #1b2567;
  font-weight: 600;
  height: 8vh;
  width: 50vw;
}
.banner h2 {
  top: 0;
  font-family: "Forum", cursive;
  text-transform: none;
  font-size: 1.3vw;
  margin-left: -35vw;
  margin-top: -46vw;
  color: #1b2567;
  margin-top: -5vh;
  height: 10vh;
}
.banner img {
  position: absolute;
  width: 30vw;
  height: 42vh;
  margin-left: 0.5vw;
  margin-top: -10vh;
}
.caixa-logo{
  position: absolute;
  width: 30vw;
  height: 20vh;
  margin-left: 0.5vw;
  margin-top: -4vh;
  background-color: #ffffff29;
  border-radius: 2vw;
}

h2 {
  display: inline;
  position: absolute;
  font-weight: 100;
  font-size: 1.5vw;
  text-align: center;
  margin-top: 12vh;
  text-transform: uppercase;
}
.detalhe {
  display: block;
  position: absolute;
  width: 15%;
  height: 0.4vh;
  margin-left: 43%;
  margin-top: 9%;
  background-color: #cad8eb;
}

.sobre-hotel {
  position: absolute;
  display: flex;
  width: 99%;
  height: 80vh;
  margin-top: 12%;
}
.img-hotel {
  width: 50%;
  height: 80vh;
}
.img-hotel img {
  width: 75%;
  height: 75vh;
  margin-left: 20%;
  margin-top: 2%;
}
.texto-sobre-hotel {
  width: 50%;
  height: 75vh;
  margin-top: 1%;
}
.texto {
  width: 76%;
  height: 75vh;
  margin-left: 1%;
}
.texto p {
  position: absolute;
  text-align: justify;
  width: 38.5%;
  height: 50vh;
  background-color: rgb(255, 255, 255);
  margin-top: 6%;
  text-indent: 10%;
  font-size: 1.2vw;
}
.acomodacoes {
  z-index: -1;
  width: 99vw;
  height: 93vh;
}
.quartos {
  position: absolute;
  margin-top: 25vh;
  height: 68vh;
  width: 99vw;
}
.quartos-img {
  margin-left: 21vw;
}
.img-quarto-quadrado {
  width: 18vw;
  height: 28vh;
  margin-right: 0.5vw;
}
.img-quarto-retangulo {
  margin-top: 0.5vw;
  width: 55.7%;
  height: 32vh;
}
.quartos-img img:hover {
  opacity: 80%;
}

.mais-servicos {
  position: absolute;
  width: 38vw;
  height: 6vh;
  border-radius: 2vw;
  border: #cad8eb solid 0.2vw;
  box-shadow: 2px 2px 5px rgba(167, 165, 165, 0.726);
  margin-left: 31vw;
}
.mais-servicos a {
  position: absolute;
  color: black;
  text-decoration: none;
  font-size: 1.2vw;
  margin-left: 8vw;
  margin-top: 1vh;
  font-weight: 500;
}
.mais-servicos a:hover {
  color: #182159;
  font-weight: bold;
}

.caixa-titulo-gastronomia {
  margin-top: -4vh;
  position: absolute;
}
.gastronomia {
  margin-top: 4%;
  position: absolute;
  display: flex;
  width: 99%;
  height: 100vh;
}
.img-gastronomia {
  margin-top: 23vh;
  width: 50%;
  height: 80vh;
}
.img-gastronomia img {
  width: 75%;
  height: 75vh;
  margin-left: 4%;
  margin-top: 2%;
}
.texto-sobre-gastronomia {
  width: 40%;
  height: 75vh;
  margin-top: 25vh;
  margin-left: 8%;
}

footer {
  display: flex;
  flex-direction: row;
  background-color: #262b30;
  color: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-top: 25vh;
  height: 34vh;
  width: 98vw;
  margin-left: -0.1vw;
  padding-top: 1.8vh;
}
.itens-esquerda {
  position: absolute;
  height: 32vh;
  width: 33.3vw;
}
.contatos {
  position: absolute;
  display: inline;
  height: 23vh;
}
.img-contato img {
  width: 2vw;
  height: 4vh;
  margin-bottom: 2.5vh;
}
.img-contato {
  display: flex;
  flex-direction: column;
  width: 2vw;
  height: 20vh;
  margin-left: 5vw;
  margin-top: 2vh;
}
.itens-esquerda h6 {
  position: absolute;
  width: 8vw;
  height: 4vh;
  margin-left: 0.5vw;
  margin-top: 0.5vh;
  color: white;
}
.copyright {
  width: 16vw;
  position: absolute;
  height: 4vh;
  margin-top: 27.5vh;
  margin-left: 4.8vw;
  font-size: 0.9vw;
  display: inline;
}
.copyright p {
  display: inline;
}

.centro {
  position: absolute;

  height: 32vh;
  width: 33.3vw;
  margin-left: 33.3vw;
}
.itens-direita {
  position: absolute;
  height: 32vh;
  width: 66.3vw;
  margin-left: 66.6vw;
}

.menu-footer {
  height: 15vh;
  width: 33.3vw;
  margin-top: 4.6vw;
}
.menu-footer ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 22vh;
  width: 25vh;
  margin-left: 15vw;
  margin-top: -7vh;
}
.menu-footer li {
  list-style: none;
  margin-bottom: -3vh;
}
.menu-footer a {
  margin-top: -10vh;
  margin-bottom: -15vh;
  text-decoration: none;
  font-size: 1vw;
  color: white;
}
.centro button {
  width: 5vw;
  height: 4vh;
  display: inline;
  margin-left: 14.8vw;
  margin-top: 1vh;
  border-radius: 0.3vw;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.519);
  font-size: 0.8vw;
  font-weight: 700;
  color: #182159;
  cursor: pointer;
}
.localizacao {
  height: 32vh;
}

.itens-direita img {
  width: 20vw;
  height: 22vh;
  margin-top: 1vh;
  margin-left: 6vw;
  margin-bottom: 3vh;
}
h6 {
  margin-left: 11vw;
  display: inline;
  font-weight: 500;
  font-size: 0.8vw;
}
.itens-direita p {
  display: inline;
  font-size: 0.9vw;
  margin-left: -19.5vw;
  margin-top: 40vh;
}
